<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <%= stylesheet_link_tag 'attachment' %>
    <%= javascript_include_tag 'jquery', 'jquery-ujs', 'application' %>
  </head>
  <body>
    <span style="color: red;">上传失败</span>
  </body>
</html>
