<div class="publish">
	<div class="con">
    <% form_for @blog, url(:admin, :blog, :id => @blog.id), :method => :put, :id => 'editor' do |f| %>
    <%= partial 'admin/form', :object => f %>
    <% end %>
  </div>
</div>

<%= partial 'admin/form_js' %>