<div class="publish">
	<div class="con">
		<table class="content">
      <% form_for @blog, url_for(:admin, :blog) do |f| %>
      <%= partial 'admin/form', :object => f %>
      <% end %>
    </table>
  </div>
</div>