<div id="search_result" style="text-align:center;">
  <div id="cse-search-results"></div>
  <script type="text/javascript">
    var googleSearchIframeName = "cse-search-results";
    var googleSearchFormName = "cse-search-box";
    var googleSearchFrameWidth = 1000;
    var googleSearchDomain = "www.google.com";
    var googleSearchPath = "/cse";
    var googleSearchResizeIframe = true;
  </script>
  <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
</div>
