<% @nav = 'weibo' %>
<% @title = '新浪微博最近更新内容' %>
<% @description = '我的新浪微博最近更新的内容' %>

<div style="background-color:#FFF;margin:10px 0px;">
  <iframe width="100%" height="800" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&amp;width=0&amp;height=800&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=0&amp;noborder=0&amp;isWeibo=1&amp;isFans=0&amp;uid=<%= APP_CONFIG['weibo_uid'] %>&amp;verifier=<%= APP_CONFIG['weibo_uid_verifier'] %>&amp;dpc=1"></iframe>
</div>