<% @nav = 'blog' %>
<% @title = "最近博客文章" %>
<% @title << " | 第#{params[:page]}页" if params[:page] && params[:page].to_i > 1 %>

<% @description = '最近发表的博客文章列表' %>

<div class="left">
	<h3 class="category_title">博客文章</h3>
  <%= partial 'blog/blog', :collection => @blogs %>
  <div>
    <%= (will_paginate @blogs, :previous_label => '前一页', :next_label => '后一页').to_s.html_safe %>
  </div>
</div><!-- left content -->

<div class="right">
  <%= partial 'blog/right' %>
</div><!-- right content -->

<%= partial 'blog/articles_count', :locals => {:blogs => @blogs} %>