<% @title = "分类文章" %>

<div class="left">
	<h3>Blog post</h3>
  <%= partial 'home/blogs', :object => @blogs %>
  <div>
    <%= will_paginate @blogs, :previous_label => '前一页', :next_label => '下一页' %>
  </div>
</div><!-- left content -->

<div class="right">
  <%= partial 'home/right' %>
</div><!-- right content -->
