<% @title = "网站首页" %>

<div class="left">
	<h3>Blog post</h3>
  <div class="con">
  	<div class="tit clearfix">
      <a href="#">精益创业指导创新产品开发精益创业指导创新产品开发</a>
      <a href="#" class="del"></a>
      <a href="#" class="edit"></a>
    </div>
    <div class="text">
      我在2006年12月的时候在JavaEeye的论坛写的一个帖子,当时我还在自己 创业JavEye技术社区这个帖子我自己都找不到了,又被人挖掘出来我都忘记是我自己写的了。 眨眼已经过了快6年了，我现在负责网站的产品和研发到这个周末的的所有核心产品全部重新发到这个周末CSDN的把整个网站的所有核心产品全部重新设计，所有代码全部重写了一遍，算是做了一个彻底的网站翻新了。 这个时候回头看看当年自己的想法，觉得蛮有趣的论坛也将代码重写上线，至此，我花了两年的时间......
    </div>
    <div class="info clearfix">
      <div class="fr">
        <span class="time">12/10/11 </span>
        <span class="edit">12/11/09 </span>
        <span class="views">1,245</span>
        <a href="#" class="comment">15</a>
      </div>
      <a href="#" class="tag" rel="tag"><span>object</span></a>
      <a href="#" class="tag" rel="tag"><span>objective-c</span></a>
      <a href="#" class="tag" rel="tag"><span>tags</span></a>
    </div>
  </div>
  
	<h3>Note post</h3>
  <div class="con">
  	<div class="tit clearfix"><a href="#">精益创业指导创新产品开发精益创业指导创新产品开发</a><a href="#" class="del"></a><a href="#" class="edit"></a></div>
    <div class="text">我在2006年12月的时候在JavaEeye的论坛写的一个帖子,当时我还在自己 创业JavEye技术社区这个帖子我自己都找不到了,又被人挖掘出来我都忘记是我自己写的了。 眨眼已经过了快6年了，我现在负责网站的产品和研发到这个周末的的所有核心产品全部重新发到这个周末CSDN的把整个网站的所有核心产品全部重新设计，所有代码全部重写了一遍，算是做了一个彻底的网站翻新了。 这个时候回头看看当年自己的想法，觉得蛮有趣的论坛也将代码重写上线，至此，我花了两年的时间......</div>
    <div class="info clearfix">
   		 <div class="fr">
       		<span class="time">12/10/11 </span>
          <span class="views">1,245</span>
          <a href="#" class="comment">15</a>
       </div>
    	<a href="#" class="tag" rel="tag"><span>object</span></a>
      <a href="#" class="tag" rel="tag"><span>objective-c</span></a>
      <a href="#" class="tag" rel="tag"><span>tags</span></a>
    </div>
  </div>

</div><!-- left content -->

<div class="right">
	<h3>Hot Blog Tag</h3>
  <div class="tag">
    <a href="#">tags<span>94</span></a>
    <a href="#">Loadrunner<span>56</span></a>
    <a href="#">tags <span>56</span></a>
    <a href="#">JavaScript<span>56</span></a>
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
    <a href="#">tags <span>56</span></a>
    <a href="#">JavaScript<span>56</span></a>
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
  </div>
  
  <h3>Hot Note Tag</h3>
  <div class="tag">
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
    <a href="#">tags <span>56</span></a>
    <a href="#">JavaScript<span>56</span></a>
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
    <a href="#">tags <span>56</span></a>
    <a href="#">JavaScript<span>56</span></a>
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
  </div>
  
  <h3>Hot Blog</h3>
  <div class="hot_blog">
  	<a href="#">robbin的自白：You've got to find what you love</a>
    <a href="#">2011年的总结和展望 </a>
    <a href="#">《松本行弘的程序世界》推荐序 </a>
    <a href="#">robbin的自白：You've got to find what</a>
    <a href="#">RoR背后的软件开发方法学思考 </a>
    <a href="#">从京沪列车对比看京服务意识robbin谈管理我敬佩的3位CEO管理者  </a>
    <a href="#">Hibernate3.2版本正式发布了 </a>
    <a href="#">Spring2.0的新特性点评 </a>
    <a href="#">截至现在JavaEye2.0 CVS上面代码看了《墨攻》，感觉还不错 </a>
    <a href="#">12月16日周六下午JavaEye上海主题活动之开业架构论坛 </a>
  </div>
  
  <h3>Hot note</h3>
  <div class="hot_note">
  	<a href="#">robbin的自白：You've got to find what you love</a>
    <a href="#">2011年的总结和展望 </a>
    <a href="#">《松本行弘的程序世界》推荐序 </a>
    <a href="#">robbin的自白：You've got to find what</a>
    <a href="#">RoR背后的软件开发方法学思考 </a>
    <a href="#">从京沪列车对比看京服务意识robbin谈管理我敬佩的3位CEO管理者  </a>
    <a href="#">Hibernate3.2版本正式发布了 </a>
    <a href="#">Spring2.0的新特性点评 </a>
    <a href="#">截至现在JavaEye2.0 CVS上面代码看了《墨攻》，感觉还不错 </a>
    <a href="#">12月16日周六下午JavaEye上海主题活动之开业架构论坛 </a>
  </div>
  
  <h3>Others</h3>
  <div class="rss clearfix"><button></button><input name="" type="text" placeholder="请输入E-Mail 订阅"></div>
  
</div><!-- right content -->
